.left {
  width: 40%;
  text-align: center;
  align-self: center;
}

.right {
  width: 60%;
}

.hero {
  display: flex;
  padding: 5rem 0;
}

.heading {
  font-size: 3rem;
  font-weight: bold;
  color: #319795;
  margin-bottom: 1rem;
}

.imgContainer {
  display: flex;
  justify-content: center;
}
.categoryContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icon {
  margin: 0 150px;
}
#line {
  margin-bottom: 150px;
  border-radius: 15px;
  width: 50px;
  height: 2px;
  background-color: #bebebe;
  transition: 0.25s;
  cursor: pointer;
  margin: 0 auto;
}
#line:hover {
  width: 80px;
  background-color: #2a3439;
}
.maincateg {
  margin-top: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  margin-bottom: 155px;
}
#categoryText {
  align-self: center;
  cursor: pointer;
  margin-top: 10px;
}
#categoryText:hover + #line {
  width: 80px;
  background-color: #2a3439;
}
